<div class="favourite-modal modal fade" id="favouriteModal" tabindex="-1" aria-labelledby="favouriteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-color-change">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="favouriteModalLabel"><i class="fa fa-heart mx-1" style="color:red"></i>Add to Collections</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3" style="height: 64px;">
                    <div class="col-3" style="height:100%">
                        <img id="favourite-recipe-image" src="" class="img-fluid" alt="Food" style="height: 100%; width: 100%;object-fit: cover;">
                    </div>
                    <div class="col-9 text-center" id="favourite-recipe-name" style="font-size:24px">
                    </div>
                </div>
                <div class="mb-3">
                    Please check all the collections you want this recipe to be added
                </div>
                <div class="container list-container" style="">
                    <div class="overflow-auto" style="max-height:100%">
                        <div style="margin-left:1%">
                            <button class="btn btn-white" id="create-collection-button"><i class="fa-solid fa-plus"></i> Create a new Collection</button>
                            <div id="create-collection-form" style="display:none">
                            Name:
                            <input type="text" id="create-collection-name"/>
                                <button class="btn btn-success" id="create-confirm-button">Create</button>
                            </div>
                        </div>
                        <div id="favourite-list-div">

                            @if (ViewBag.FavouriteList != null)
                            {
                                var favourites = ViewData["FavouriteList"] as IEnumerable<Favourite>;
                                <partial name="_FavouriteListPartial" model="@favourites" />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="favourite-save" type="button" class="btn btn-primary" data-bs-dismiss="modal" data-recipe-id="0">Save</button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery-3.7.0.min.js"></script>
<script>
    $('#create-collection-button').click(function () {
        $('#create-collection-button').css("display", "none");
        $('#create-collection-form').css("display", "block");
    });
    $('#create-confirm-button').click(function () {
        var recipeId = $("#favourite-save").data('recipe-id');
        $('#create-collection-button').css("display", "block");
        $('#create-collection-form').css("display", "none");
        var name = $("#create-collection-name").val();
        $.ajax({
            url: '/Favourites/CreateAjax',
            type: 'POST',
            data: { name: name },
            success: function (data) {
                $('#favourite-list-div').html(data);
                UpdateCheckbox(recipeId);
            },
            error: function () {
                alert('Error creating collection.');
            }
        });
    });
</script>