@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<div class="container-fluid">
    <div>
        <img class="img-fluid" src="~/images/letter-sent.png">
    </div>
</div>

