.favourite-modal .modal-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.favourite-modal .modal-dialog .modal-content {
    height: 800px;
    width: 500px;
    margin: auto;
    margin-top: 50px;
}
.favourite-modal .modal-title{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em !important;
}

.favourite-modal .favourite-checkbox{
    height:28px;
    width:28px;
}
.favourite-modal .list-container {
    height: 400px;
    border: solid 1px gray;
}

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 2px;
    cursor: pointer;
    font-size: 16px;
}

    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 26px;
    width: 26px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 0px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #ff0000;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 3;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 9px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}