.navbar-brand img {
    width: 40%;
    margin-left: 16px;
}

.navbar-nav {
    margin-left: auto;
}

.socialwrapper {
    margin-right: 32px;
}

.socialoverlay {
    color: black;
    margin-right: 16px;
}

    .socialoverlay:hover {
        opacity: 0.5;
        cursor: pointer;
        color: black;
    }

.nutrition {
    border-bottom: rgba(0, 0, 0, 0.15) solid 1px;
    width: 96%;
}

/*---------------------------------------------*/
.block2-txt-child1 {
    width: calc(100% - 30px);
}

.block2-txt-child2 {
    width: 30px;
}

.btn-addwish-b2 .icon-heart2 {
    opacity: 0;
}

.btn-addwish-b2:hover .icon-heart2 {
    opacity: 1;
}

.btn-addwish-b2:hover .icon-heart1 {
    opacity: 0;
}

.js-addedwish-b2 .icon-heart2 {
    opacity: 1;
}

.js-addedwish-b2 .icon-heart1 {
    opacity: 0;
}

.dis-block {
    display: block;
}

.pos-relative {
    position: relative;
}

.trans-04 {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.ab-t-l {
    position: absolute;
    left: 0px;
    top: 0px;
}
